{% extends 'admin.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

{{ form_start(contactForm) }}
<div class="presentation">
	<span id="contactnom">{{form_row(contactForm.nom)}}</span>
	<span id="contactprenom">{{form_row(contactForm.prenom)}}</span>
</div>
{{form_row(contactForm.email)}}
{{form_row(contactForm.message)}}


{{ form_end(contactForm) }}</div></div>

{% endblock %}
